services:
  db:
    image: postgres:15
    container_name: chat_postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      retries: 5
      timeout: 5s
  
  redis:
    image: redis:7
    container_name: chat_redis
    restart: always

  web:
    build: .
    container_name: chat_django
    command: daphne -b 0.0.0.0 -p 8000 chit_chat.asgi:application
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    

volumes:
  postgres_data: